/* --------------- General --------------- */


html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #e5f2ff;
    text-align: center;
}

body {
    margin: auto;
    box-sizing: border-box;
}


/* --------------- Header --------------- */

.signature {
    background: url("../images/sajanek.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 220px;
    width: auto;

    display: inline-block;
    background-size: contain;
}

/* --------------- Headings and text --------------- */

h1 {
    background-color: rgba(255, 58, 58, 0.8);
    text-align: center;
    color: #fffef9;
    padding: 10px;
    line-height: 150%;
    letter-spacing: 0.3rem;
    font-size: 500%;
    font-weight: 700;
    z-index: 2;
    height: 100px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 20%;
  margin-top: -50px;
}

.carousel-inner {
    position: relative;
} 

h2 {
    text-align: center;
    color: #6034f9;
padding-top: 60px;
    line-height: 150%;
    letter-spacing: 0.3rem;
    font-size: 400%;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #6034f9;
    padding-bottom: 10px;
    letter-spacing: 0.1rem;
    line-height: 150%;
    font-size: 150%;
    font-weight: 500;
}

h4 {
    text-align: center;
    color: #6034f9;
    padding-top: 40px;
    padding-bottom: 10px;
    letter-spacing: 0.1rem;
    line-height: 150%;
    font-size: 120%;
    font-weight: 300;
}

.block-heading {
    text-align: center;
    color: #6034f9;
    line-height: 100%;
    letter-spacing: 0.1rem;
    font-size: 200%;
    font-weight: 600;
    padding-bottom: 20px;
}


.section-2 ul li{
    list-style: none;
    text-align: left;
    padding: 5px;
    color: #6034f9;
    
}

.section-3 ul li{
    list-style: none;
    text-align: center;
    padding: 5px;
    color: #6034f9;
    
}

.section-3 ul li i {
    font-size: 150%;
   padding: 10px;
    
}

.dropdown-item {
    color: #6034f9;
    background-color: #fffef9;
}

.dropdown-item:hover {
    background-color: #ff3a3a;
    color: #fffef9
}

p {
    text-align: center;
    color: #6034f9;
    line-height: 140%;
    font-size: 100%;
    font-weight: 300;
}

.row-1 p {

    text-align: justify;
    line-height: 180%; 
    letter-spacing: 1px;
}

footer p {
    text-align: center;
    color: #fffef9;
    font-size: 100%;
    line-height: 140%;
    font-weight: 300;
    padding: 30px 50px;
}

.section-2 .row {
    padding-bottom: 20px;
}

.row-1 img {
    width: 50%;
    float: left;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* --------------- Navbar --------------- */



.navbar-light .navbar-nav .nav-link {
    color: #6034f9;
    padding: 25px;
    margin-top: 25px;
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #6034f9;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #fffef9;
    color: #6034f9;

}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(96, 52, 249, 0.5);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/list_blue.png");
}




/* --------------- Main --------------- */

/* --------------- Footer --------------- */

footer {
    background-color: #6034f9;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fffef9;
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: static;
}

.footer-align {
    text-align: center;
}

.break {
    background-color: #fffef9;
    height: 3px;
    width: 15px;
    display: inline-block;
    margin: 20px 0;

}

.body-break {
    border-bottom: 3px solid #ff3a3a;
    width: 25px;
    display: block;
    margin: 60px auto;
    

}

hr {
    border-top: 1px solid rgba(96, 52, 249, 0.3);
}

.social-links {
padding: 0;    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 15%;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #6034f9;
    background: #fffef9;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    color: #fcf1b3;
}


.menu-links {
    color: #fffef9;
    list-style: none;
    font-size: 17px;
    text-align: center;
    margin: auto;
    padding: 0;
}

footer ul li a {
    color: #fffef9;
    font-weight: 200;

}

footer ul li a:hover {
    background: #fff;
    text-decoration: none;
    color: #6034f9;
}



#text-copyright {
    font-size: 70%;
    margin-left: 50px;
}



/* --------------- Sections --------------- */


.row-1 {
    background-color: #fffef9!important;
    padding-bottom: 40px;
    
}

.col {    padding-right: 0;
    padding-left: 0;
}

.section-1 .row-1 {
    padding-bottom: 40px;
    
}
.section-1 .col {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.section-1 .col:nth-child(2) {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

.section-2 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/* --------------- Links --------------- */

.section-3 ul li {
    list-style: none;
    
}


/* --------------- Buttons --------------- */


.btn-print {
    background-color: #6034f9;
    color: #fffef9;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-weight: 100;
    border: none;
    border-radius: 5%;
    transition-duration: 0.5s;
}

.btn-print{
    text-decoration: none;
    color: #fffef9;

}

btn-block a:link,
.btn-print a:visited {
    text-decoration: none;
    border: none;
}

.btn-print:hover {
    transition-property: width;
    width: 205px;

}

.btn-primary {
    color: #ff3a3a;
    background-color: transparent;
    padding: 3px;
    border: 1px solid #ff3a3a;
    text-align: center;
    border-radius: 0;
    transition-duration: 0.3s;

}

.btn-primary:hover    {
    transition-property: padding;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ff3a3a;
    color: #fffef9;
    border: none;
}


.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:link,
.btn-primary:visited {
    text-decoration: none;
}




.dropdown .btn-primary {
    color: #fffef9;
    background-color: #ff3a3a;
    padding: 3px;
    border: 1px solid #ff3a3a;
    text-align: center;
    border-radius: 0;

}

.dropdown .btn-primary:hover {
    background-color: #fc5f5f;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fc5f5f;
  border-color: #fff;
}

.section-2 .p:first-child {
    display: block;
    color: #6034f9;
    line-height: 120%;
    letter-spacing: 0.1rem;
    font-size: 200%;
    font-weight: 700;
    margin-top: 10px;
}



#row-3 {
    text-align: center;
    padding-top: 80px;
    min-height: 350px;

}




/* --------------- Skuska overlay --------------- */
.container {
justify-content: center;
  position: relative;
  width: 100%;
  padding: 0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #6034f9;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(255, 58, 58);
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: #fffef9;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* --------------- Koniec Skuska overlay --------------- */

input[type=email] {
    color: #6034f9;
    width: 300px;
    height: 50px;
    padding:5px 15px; 
    background:#fffef9; 
    border: none;
    border-bottom: 1px solid #6034f9;
    cursor:pointer;
    border-radius: 5%; 
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
}

input[type=email]::placeholder {
    color: #6034f9;
    font-weight: 100;
}


/* --------------- Modals --------------- */

.modal-header {
    padding: 0.5rem 1rem;
    border-bottom: none;
    
}

.modal-content {
    background-color: #fffef9;
    color: #6034f9;
}

.close {
    color: #6034f9;
    opacity: 1;
}

.modal-footer {
    border: none;
}




/* --------------- Queries --------------- */

@media screen and (max-width:600px) {
    /* for tablets */
    .picture-1 .block-text {
        width: ;
        font-size: ;

    }

}

@media screen and (max-width:500px) {
    /* for tablets */
h1    {
        line-height: 150%;
        letter-spacing: 0.3rem;
        font-size: 200%;
        font-weight: 700;
        padding: 20px;
    }

h2    {
        line-height: 150%;
        letter-spacing: 0.3rem;
        font-size: 200%;
        font-weight: 700;
        padding: 20px;
        
    }


.signature {
    min-height: 100px;
   
}
}


